{% if ansible_hostname == 'centralRouter' %}
DEVICE=eth4
ONBOOT=yes
BOOTPROTO=none
MASTER=bond0
SLAVE=yes
NM_CONTROLLED=yes
USERCTL=no
{% endif %}
{% if ansible_hostname == 'inetRouter' %}
DEVICE=eth4
ONBOOT=yes
BOOTPROTO=none
MASTER=bond0
SLAVE=yes
NM_CONTROLLED=yes
USERCTL=no
{% endif %}


